@page "/leagues/{leagueId:int}/scorers"
@using System.Net.Http
@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Strzelcy</h3>

<div class="button-container">
    <button class="btn btn-secondary" @onclick="GoBack">Wróć</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>#</th>
            <th>Zawodnik</th>
            <th>Drużyna</th>
            <th>Bramki</th>
            <th>Asysty</th>
        </tr>
    </thead>
    <tbody>
        @if (scorers == null)
        {
            <tr>
                <td colspan="8">Ładowanie...</td>
            </tr>
        }
        else if (scorers.Length == 0)
        {
            <tr>
                <td colspan="8">Brak danych do wyświetlenia</td>
            </tr>
        }
        else
        {
            int position = 1;
            foreach (var scorer in scorers)
            {
                <tr>
                    <td>@position</td>
                    <td>@scorer.Footballer.FirstName @scorer.Footballer.LastName</td>
                    <td>@scorer.Footballer.Team.Name</td>
                    <td>@scorer.Goals</td>
                    <td>@scorer.Assists</td>
                </tr>
                position++;
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public int leagueId { get; set; }

    private FootballerStatDTO[] scorers;

    protected override async Task OnInitializedAsync() 
    {
        scorers = await Http.GetFromJsonAsync<FootballerStatDTO[]>($"api/leagues/{leagueId}/scorers");
    }

    private void GoBack()
    {
        Navigation.NavigateTo($"/leagues/{leagueId}");
    }
}
