@page "/leagues"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System_do_zarządzania_ligą_piłkarską.Shared
@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@attribute [Authorize]
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<PageTitle>Ligi</PageTitle>

<h1>Dostępne ligi</h1>

<input type="text" @bind="searchQuery" placeholder="Szukaj ligi po nazwie..." class="form-control mb-3" />


    @if (_allLeagues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kraj</th>
                <th>Poziom</th>
                <th>Sezon</th>
                <th>Rozegrane mecze</th>
                <th>Start ligi</th>
                <th>Koniec ligi</th>
                <th>Dodaj do ulubionych</th>
                <th>Przejdź do ligi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var league in FilteredLeagues)
            {
                <tr>
                    <td>@league.Name</td>
                    <td>@league.Country</td>
                    <td>@league.Level</td>
                    <td>@league.Season</td>
                    <td>@league.MatchesPlayed</td>
                    <td>@league.LeagueStartDate</td>
                    <td>@league.LeagueEndDate</td>
                    <th>
                        <button class="btn btn-primary" @onclick="() => AddToFavourites(league.Id)">
                            <i class="fas fa-star"></i>
                        </button>
                    </th>
                    <td>
                        <NavLink href="@($"/leagues/{league.Id}")" class="nav-link">
                            <i class="fas fa-trophy"></i>
                        </NavLink>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private LeagueDTO[]? _allLeagues;
    private string searchQuery = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _allLeagues = await Http.GetFromJsonAsync<LeagueDTO[]>("api/leagues");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
   
    private async Task AddToFavourites(int leagueId)
    {
        var response = await Http.PostAsync($"api/favourites/league/{leagueId}", null);
    }

    private IEnumerable<LeagueDTO> FilteredLeagues =>
    string.IsNullOrWhiteSpace(searchQuery)
    ? _allLeagues
    : _allLeagues?.Where(league => league.Name.Contains(searchQuery, StringComparison.OrdinalIgnoreCase));
}
