@page "/leagues"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System_do_zarządzania_ligą_piłkarską.Shared
@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@using System_do_zarządzania_ligą_piłkarską.Client.Extensions
@using System_do_zarządzania_ligą_piłkarską.Client.Components

@inject HttpClient Http
@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject AlertManager AlertManager
@inject PaginationManager PaginationManager
@inject SearchQueryManager SearchQueryManager

<PageTitle>Ligi</PageTitle>


<Alert Message="@AlertManager.Message" Type="@AlertManager.Type" IsVisible="@AlertManager.IsVisible" />

<input type="text" @bind="SearchQueryManager.Name" placeholder="Szukaj ligę po nazwie..." class="form-control mb-3" />
<input type="text" @bind="SearchQueryManager.Country" placeholder="Szukaj ligę po kraju..." class="form-control mb-3" />

@if (allLeagues == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nazwa</th>
                <th>Kraj</th>
                <th>Poziom</th>
                <th>Sezon</th>
                <th>Ilość kolejek</th>
                <th>Start ligi</th>
                <th>Koniec ligi</th>
                <th>Dodaj do ulubionych</th>
                <th>Przejdź do ligi</th>
            </tr>
        </thead>
        <tbody>
            @if (filteredLeagues.Count() == 0)
            {
                <tr>
                    <td colspan="9" style="text-align: center">Brak lig lub żadna liga nie spełnia określonych kryteriów wyszukiwania.</td>
                </tr>
            }
            @foreach (var league in filteredLeagues)
            {
                <tr>
                    <td>@league.LeagueInfo.Name</td>
                    <td>@league.LeagueInfo.Country</td>
                    <td>@league.LeagueInfo.Level</td>
                    <td>@(league.Season.ToString().Substring(1))</td>
                    <td>@league.MatchesPlayed</td>
                    <td>@league.LeagueStartDate</td>
                    <td>@league.LeagueEndDate</td>
                    <td>
                        @if (_userId != null)
                        {
                            @if (IsFavourite(league.Id))
                            {
                                <button class="btn btn-primary" @onclick="() => RemoveFromFavourites(league.Id)">
                                    <i class="fas fa-star"></i> Usuń z ulubionych
                                </button>
                            }
                            else
                            {
                                <button class="btn btn-secondary" @onclick="() => AddToFavourites(league.Id)">
                                    <i class="fas fa-star"></i> Dodaj do ulubionych
                                </button>
                            }
                        }
                        else
                        {
                            <i class="fas fa-lock"></i>
                        }
                    </td>
                    <td>
                        <button class="btn btn-link" @onclick="() => NavigateToLeagueDetails(league.Id)">
                            <i class="fas fa-arrow-right"></i> Szczegóły
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <PaginationBar PageNumber="PaginationManager.PageNumber"
                   PageIndex="PaginationManager.PageIndex"
                   PageMax="PaginationManager.PageMax"
                   CollectionCount="PaginationManager.CollectionCount"
                   OnNextPage="() => PaginationManager.NextPage(LoadLeagues)"
                   OnPreviousPage="() => PaginationManager.PreviousPage(LoadLeagues)"
                   OnGoToPage="(pageNumber) => PaginationManager.GoToPage(pageNumber, LoadLeagues)">
    </PaginationBar>
}

@code {
    private List<LeagueSeasonDTO>? allLeagues;
    private List<FavouriteDTO>? userFavouriteLeagues;

    string _userId = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PaginationManager.PageMax = (int)Math.Ceiling((double)PaginationManager.CollectionCount / PaginationManager.PageSize);
            await GetUserId();
            await LoadLeagues();
            await RefreshFavourites();
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

    private async Task<bool> LoadLeagues()
    {
        var response = await Http.GetFromJsonAsync<List<LeagueSeasonDTO>>($"api/leagues?pageNumber={PaginationManager.PageNumber}&pageSize={PaginationManager.PageSize}");
        allLeagues = response;

        return (allLeagues != null && allLeagues.Any());
    }

    private async Task GetUserId()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        _userId = user.FindFirst(c => c.Type == "sub")?.Value;
    }

    private IEnumerable<LeagueSeasonDTO>? filteredLeagues =>
    allLeagues?.Where(league =>
        (string.IsNullOrWhiteSpace(SearchQueryManager.Name) || league.LeagueInfo.Name.Contains(SearchQueryManager.Name, StringComparison.OrdinalIgnoreCase)) &&
        (string.IsNullOrWhiteSpace(SearchQueryManager.Country) || league.LeagueInfo.Country.Contains(SearchQueryManager.Country, StringComparison.OrdinalIgnoreCase))
    );

    private bool IsFavourite(int leagueId)
    {
        var isFavourite = userFavouriteLeagues.FirstOrDefault(x => x.FavouriteId == leagueId) != null;
        return isFavourite;
    }

    private async Task RefreshFavourites()
    {
        if (_userId != null)
        {
            userFavouriteLeagues = await Http.GetFromJsonAsync<List<FavouriteDTO>>($"api/favourites/league");
        }
    }

    private async Task AddToFavourites(int leagueId)
    {
        if (_userId != null)
        {
            var response = await Http.PostAsync($"api/favourites/league/{leagueId}", null);
            var league = allLeagues.FirstOrDefault(l => l.Id == leagueId);

            if (response.IsSuccessStatusCode)
            {
                AlertManager.DisplayAlert($"Dodano ligę {league?.LeagueInfo.Name} do ulubionych!", "success");
                await RefreshFavourites();
            }
            else
            {
                AlertManager.DisplayAlert($"Nie udało się dodać ligi {league?.LeagueInfo.Name} do ulubionych.", "danger");
            }
        }
    }

    private async Task RemoveFromFavourites(int leagueId)
    {
        if (_userId != null)
        {
            var response = await Http.DeleteAsync($"api/favourites/league/{leagueId}/{_userId}");
            var league = allLeagues.FirstOrDefault(l => l.Id == leagueId);

            if (response.IsSuccessStatusCode)
            {
                AlertManager.DisplayAlert($"Usunięto ligę {league?.LeagueInfo.Name} z ulubionych.", "info");
                await RefreshFavourites();
            }
            else
            {
                AlertManager.DisplayAlert($"Nie udało się usunąć ligi {league?.LeagueInfo.Name} z ulubionych.", "danger");
            }
        }
    }

    private void NavigateToLeagueDetails(int leagueId)
    {
        Navigation.NavigateTo($"/leagues/{leagueId}");
    }
}
