@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover align-middle">
        <thead class="table-primary text-center">
            <tr>
                <th>Imię</th>
                <th>Nazwisko</th>
                <th>Numer</th>
                <th>Narodowość</th>
                <th>Wzrost (cm)</th>
                <th>Waga (kg)</th>
                <th>Rozegrane mecze</th>
                <th>Gole</th>
                <th>Asysty</th>
                <th>Gole samobójcze</th>
                <th>Żółte kartki</th>
                <th>Czerwone kartki</th>
            </tr>
        </thead>
        <tbody>
            @if (players != null && players.Any())
            {
                @foreach (var footballer in players)
                {
                    <tr>
                        <td>@footballer.Footballer.FirstName</td>
                        <td>@footballer.Footballer.LastName</td>
                        <td class="text-center">@footballer.Footballer.ShirtNumber</td>
                        <td>@footballer.Footballer.Nationality</td>
                        <td class="text-center">@footballer.Footballer.Height</td>
                        <td class="text-center">@footballer.Footballer.Weight</td>
                        <td class="text-center">@footballer.MatchesPlayed</td>
                        <td class="text-center text-success">@footballer.Goals</td>
                        <td class="text-center text-success">@footballer.Assists</td>
                        <td class="text-center text-danger">@footballer.OwnGoals</td>
                        <td class="text-center text-warning">@footballer.YellowCards</td>
                        <td class="text-center text-danger">@footballer.RedCards</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="12" class="text-center text-muted">Brak danych do wyświetlenia</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public List<FootballerStatDTO> players { get; set; }
}