@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@inject NavigationManager Navigation

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>Kolejka</th>
            <th>Data</th>
            <th>Godzina</th>
            <th>Gospodarz</th>
            <th>Gość</th>
            <th>Wynik</th>
            <th>Rezultat</th>
            <th>Przejdź do meczu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Matches)
        {
            <tr>
                <td>@match.Round</td>
                <td>@match.MatchDate</td>
                <td>@match.MatchTime</td>
                <td>@match.HomeTeam.Name</td>
                <td>@match.AwayTeam.Name</td>
                <td>@ShowScore(match)</td>
                <td>@ShowResult(match.Id)</td>
                <td>
                    <button class="btn btn-link" @onclick="() => ShowMatchDetails(match.Id)">
                        <i class="fas fa-arrow-right"></i> Szczegóły
                    </button>
                </td>

            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public List<MatchDTO> Matches { get; set; }

    public string ShowResult(int matchId)
    {
        var match = Matches.FirstOrDefault(m => m.Id == matchId);

        if (match == null || match.GoalsHome == null || match.GoalsAway == null || !match.IsFinished)
        {
            return "-";
        }
        if (match.GoalsHome == match.GoalsAway)
        {
            return "Remis";
        }
        if (match.GoalsHome > match.GoalsAway)
        {
            return match.HomeTeam.Name;
        }
        return match.AwayTeam.Name;
    }

    public string ShowScore(MatchDTO match)
    {
        if (match.IsFinished == false)
            return "-";

        return $"{match.HomeTeam.Name}  {match.GoalsHome}:{match.GoalsAway}  {match.AwayTeam.Name}";
    }

    public void ShowMatchDetails(int matchId)
    {
        Navigation.NavigateTo($"/matches/{matchId}");
    }
}


