@using System_do_zarządzania_ligą_piłkarską.Shared.DTOs
@inject NavigationManager Navigation

<div class="table-responsive">
    <table class="table table-bordered table-hover align-middle">
        <thead class="table-primary text-center">
            <tr>
                <th>Kolejka</th>
                <th>Data</th>
                <th>Godzina</th>
                <th>Gospodarz</th>
                <th>Gość</th>
                <th>Wynik</th>
                <th>Rezultat</th>
                @if (ShowDetails)
                {
                    <th>Szczegóły</th>
                }
            </tr>
        </thead>
        <tbody>
            @if (Matches != null && Matches.Any())
            {
                @foreach (var match in Matches)
                {
                    <tr>
                        <td class="text-center">@match.Round</td>
                        <td class="text-center">@match.MatchDate</td>
                        <td class="text-center">@match.MatchTime</td>
                        <td class="fw-bold text-success text-center">@match.HomeTeam.Name</td>
                        <td class="fw-bold text-danger text-center">@match.AwayTeam.Name</td>
                        <td class="text-center fw-bold">
                            @ShowScore(match)
                        </td>
                        <td class="text-center">
                            @ShowResult(match.Id)
                        </td>
                        @if (ShowDetails)
                        {
                            <td class="text-center">
                                <button class="btn btn-outline-primary btn-sm" @onclick="() => ShowMatchDetails(match.Id)">
                                    <i class="fas fa-info-circle"></i> Szczegóły
                                </button>
                            </td>
                        }
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="8" class="text-center text-muted">Brak danych do wyświetlenia</td>
                </tr>
            }
        </tbody>
    </table>
</div>


@code {
    [Parameter] public List<MatchDTO> Matches { get; set; }
    [Parameter] public bool ShowDetails { get; set; }
    [Parameter] public int NavigationTeamId { get; set; }

    public string ShowResult(int matchId)
    {
        var match = Matches.FirstOrDefault(m => m.Id == matchId);

        if (match == null || match.GoalsHome == null || match.GoalsAway == null || !match.IsFinished)
        {
            return "-";
        }
        if (match.GoalsHome == match.GoalsAway)
        {
            return "Remis";
        }
        if (match.GoalsHome > match.GoalsAway)
        {
            return match.HomeTeam.Name;
        }
        return match.AwayTeam.Name;
    }

    public string ShowScore(MatchDTO match)
    {
        if (match.IsFinished == false)
            return "-";

        return $"{match.HomeTeam.Name}  {match.GoalsHome}:{match.GoalsAway}  {match.AwayTeam.Name}";
    }

    public void ShowMatchDetails(int matchId)
    {
        Navigation.NavigateTo($"/teams/{NavigationTeamId}/past-matches/{matchId}");
    }
}


