<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        <div class="alert alert-warning" role="alert">
                            <strong>Uwaga!</strong> Zaloguj się, aby odwiedzić tę stronę.
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger" role="alert">
                            <strong>Brak dostępu!</strong> Nie masz uprawnień do tego zasobu.
                        </div>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-info text-center" role="alert">
                    <strong>Przepraszamy!</strong> Nie znaleziono strony pod tym adresem.
                </div>
            </LayoutView>
        </NotFound>

    </Router>
</CascadingAuthenticationState>

